/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/*Gallery Styles*/
.gallery-card {
    margin-bottom: 10px;
    padding: 10px;
    height: 750px;
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

    .gallery-card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

.gallery-description {
    /*height: 180px;
    text-overflow: ellipsis;
    white-space: pre-line;
    overflow: hidden;

    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
   */
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.gallery-pic {
    width: auto;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
}

.searchbar {
    width: 100%;
    border-radius: 8px;
}

.gallery-buy-button {
    border-radius: 8px;
    position: absolute;
    bottom: 20px;
    width: 95%;
}

.gallery-card a {
    text-decoration: none;
    color: black;
}

.gallery-card a:hover {
    text-decoration: none;
    color: black;
}


/* Home Styles*/
.bestsellers, .toprated, .prod-det-rec {
    background-color: #F4F4F4;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 15px;
}

.bestsellers, .toprated, .prod-det-rec h4 {
    padding-bottom: 10px;
}

.home-pic {
    height: 300px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.home-card {
    height: 420px;
    padding: 15px;
    margin-bottom: 20px;
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.home-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.home-buy-button {
    border-radius: 8px;
    width: 90%;
    position: absolute;
    bottom: 10px;
}

.home-card a:hover, a:link, a:visited {
    text-decoration: none;
    color: black;
}

/* Product Detail Style*/
 {

}


/* Purchase Style*/
.book-description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.pdtCatagory {
    color: darkcyan;
    font-size: 15px;
    font-weight: bold;

}

.pdtnametext {
    text-align: left;
    color: #363636;
    font-size: 30px;
    font-weight: 900;
}

/*Account Style*/
.ac_tbl {
    display: inline-block;
    padding: 0.5em;
    
}

.ac_row {
    display: table-row;
}

.ac_cell {
    display: table-cell;
    padding: 0.1em;
}

.ac_textred{
    color:red;
}

.rating input[type="radio"]:not(:nth-of-type(0)) {
    /* hide visually */
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.rating [type="radio"]:not(:nth-of-type(0)) + label {
    display: none;
}

label[for]:hover {
    cursor: pointer;
}

.rating .stars label:before {
    content: "★";
}

.stars label {
    color: lightgray;
}

    .stars label:hover {
        text-shadow: 0 0 1px #000;
    }

.rating [type="radio"]:nth-of-type(1):checked ~ .stars label:nth-of-type(-n+1),
.rating [type="radio"]:nth-of-type(2):checked ~ .stars label:nth-of-type(-n+2),
.rating [type="radio"]:nth-of-type(3):checked ~ .stars label:nth-of-type(-n+3),
.rating [type="radio"]:nth-of-type(4):checked ~ .stars label:nth-of-type(-n+4),
.rating [type="radio"]:nth-of-type(5):checked ~ .stars label:nth-of-type(-n+5) {
    color: orange;
}

.rating [type="radio"]:nth-of-type(1):focus ~ .stars label:nth-of-type(1),
.rating [type="radio"]:nth-of-type(2):focus ~ .stars label:nth-of-type(2),
.rating [type="radio"]:nth-of-type(3):focus ~ .stars label:nth-of-type(3),
.rating [type="radio"]:nth-of-type(4):focus ~ .stars label:nth-of-type(4),
.rating [type="radio"]:nth-of-type(5):focus ~ .stars label:nth-of-type(5) {
    color: darkorange;
}}