@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
    
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Product> TopProdByPurchase = (List<Product>)ViewData["TopProdByPurchase"];
    List<Product> TopProdByRatings = (List<Product>)ViewData["TopProdByRatings"];
}
<style>
    .product-desc {
        margin: 10px;
    }

    .bestsellers {
        margin-bottom: 30px;
    }
</style>

<div class="recommendations">
    <div class="bestsellers">
        <h5>Best Sellers</h5>
        <div class="row">
            @{
                foreach (Product bs in TopProdByPurchase)
                {
                    string imgSrc = "~/Images" + bs.ImageSrc;
                    <div class="col-sm">
                        <div class="card">
                            <img src=@imgSrc alt=@bs.ProductName />
                            <div class="product-desc">
                                <p><b>@bs.ProductName</b></p>
                            </div>
                            <button type="button" class="btn btn-light"><b>$@bs.Price</b><i class="fas fa-shopping-cart"></i></button>
                        </div>
                    </div>
                }
            }
        </div>
    </div>

    <div class="toprated">
        <h5>Top Rated E-Books</h5>
        <div class="row">
            @{
                foreach (Product bs in TopProdByRatings)
                {
                    string imgSrc = "~/Images" + bs.ImageSrc;
                    <div class="col-sm">
                        <div class="card">
                            <img src=@imgSrc alt=@bs.ProductName />
                            <div class="product-desc">
                                <p><b>@bs.ProductName</b></p>
                            </div>
                            <button type="button" class="btn btn-light"><b>$@bs.Price</b><i class="fas fa-shopping-cart"></i></button>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
 </div>

