
@{
    ViewData["Title"] = "Registration";
}

@section Scripts
{
    <script src="~/js/register.js"></script>
}

<form id="form" action="/Account/Register" method="POST", onsubmit="return SubmitCheck()">
    <div style="text-align:center" class="login">
        <h1>ACCOUNT REGISTRATION</h1>
        <div class="ac_tbl">
            <div class="ac_row">
                <div class="ac_cell">
                    <input id="username" name="username" placeholder="Username" type="text" class="form-control" autocomplete="off" />
                </div>
            </div>
            <div class="ac_row">
                <div id="usernamechk" class="ac_cell ac_textred msgchk"></div>
            </div>
            <div class="ac_row">
                <div class="ac_cell">
                    <input id="password" name="password" placeholder="Password" type="password" class="form-control" />
                </div>
            </div>
            <div class="ac_row">
                <div id="passowrdchk" class="ac_cell ac_textred msgchk"></div>
            </div>
            <div class="ac_row">
                <div class="ac_cell">
                    <input id="submit" type="submit" value="Register Now" class="btn-success ac-btn" />
                </div>
            </div>
        </div>
    </div>
</form>

