
@{

}

@section Scripts
{
    <script src="~/js/register.js"></script>
}

<form id="form" action="/Account/Register" method="POST", onsubmit="return SubmitCheck()">
    <div style="text-align:center">
        <div class="ac_tbl">
            <div class="ac_row">
                <div class="ac_cell">
                    Username:
                </div>
                <div class="ac_cell">
                    <input id="username" name="username" type="text" class="form-control" />
                </div>
            </div>
            <div class="ac_row">
                <div class="ac_cell"></div>
                <div id="usernamechk" class="ac_cell ac_textred msgchk"></div>
            </div>
            <div class="ac_row">
                <div class="ac_cell">
                    Password:
                </div>
                <div class="ac_cell">
                    <input id="password" name="password" type="password" class="form-control" />
                </div>
            </div>
            <div class="ac_row">
                <div class="ac_cell"></div>
                <div id="passowrdchk" class="ac_cell ac_textred msgchk"></div>
            </div>
            <div class="ac_row">
                <div class="ac_cell"></div>
                <div class="ac_cell" style="text-align: right">
                    <input id="submit" type="submit" value="Register Now" class="btn-success ac-btn" />
                </div>
            </div>
        </div>
    </div>
</form>

