@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Product product = (Product)ViewData["Product"];
    List<Product> recommendation = (List<Product>)ViewData["Recommendation"];
}

<h1>Product Detail</h1>
<h2>@product.Id</h2>
<h2>@product.ProductName</h2>
<br />

<div class="prod-det-rec">
    <h4>Customers who shopped for this also bought </h4>
    <div class="row">
        @{
            foreach (Product rec in recommendation)
            {
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card home-card">
                        <a href="~/Product/Details/@rec.Id">
                            <img class="home-pic" src=@rec.ImageSrc alt=@rec.ProductName />
                            <div class="card-body">
                                <h6 class="card-title">@rec.ProductName</h6>
                            </div>
                        </a>
                        <button type="button" class="btn-dark btn-block home-buy-button">$@rec.Price Add to Cart</button>
                    </div>
                </div>
            }
        }
    </div>
</div>